.main {
    width: 400px;
    margin: 0 auto;
}

.main .title {
    text-align: center;
    margin: 0 auto;
    margin: 10px 0;
}

#url-form{
    margin: 30px 0;
}

#url-form .name,
#url-form .submit {
    text-align: center;
    margin: 8px 0;
}
#url-form .url,
#url-form .url input {
    width: 100%;
    text-align: center;
}

button[type="submit"]{
    cursor: pointer;
    border: 0;
    border-radius: 0;
    font-size: large;
    background-color: #c9c9c9;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

button:hover {
    border-radius: 0;
    background-color: #969696;
    color: #fff;
}

input {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}
input:focus {
    border-bottom: solid 2px #969696;
    outline: 0px solid #fff;
}

#result {
    border-left: 3px solid grey;
    padding-left: 12px;
    height: 50px;
}

#result a{
    text-decoration: none;
}

#result .short a{
    color: #ee6123;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

#result .long{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

#result .long a{
    color: #707a80;
}

#result .long:hover a{
    text-decoration: underline;
}

.apilink {
    margin: 10px;
    text-align: center;
}

.apilink a {
    text-decoration: none;
}
